.btn-landing-page {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  max-width: 360px;
  width: 100%;
  min-width: 241px;
  height: 48px;
  color: var(--color-white);
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  border-radius: 8px;
}

.btn-landing-page:hover {
  color: var(--color-grey1);
  background-color: var(--color-primary2);
  border: 2px solid var(--color-primary2);
}

.btn-log-out {
  width: 64px;
  height: 40px;
  color: var(--color-grey4);
  background-color: var(--color-grey2);
  font-family: "Nunito";
  font-weight: 600;
  font-size: 14px;
  border: 1.4px solid var(--color-grey2);
  border-radius: 8px;
}

.btn-log-out:hover {
  background-color: var(--color-grey4);
  color: var(--color-grey1);
}

.btn-submit-form {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  max-width: 360px;
  width: 86%;
  min-width: 241px;
  height: 48px;
  color: var(--color-white);
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  border-radius: 8px;
}

.btn-submit-form:hover {
  color: var(--color-grey1);
  background-color: var(--color-primary2);
  border: 2px solid var(--color-primary2);
}

@media (min-width: 800px) {
  .btn-landing-page {
    width: 241px;
  }

  .btn-landing-page:hover {
    width: 241px;
  }
}
